<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/App.css"></link>
    <title>Expense Manager</title>
  </head>
  <body>
    <div>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Expense Manager</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">User Name</a></li>
        </ul>
        <ul class="nav navbar-nav closebtn">
          <li class="active"><a href="#">Logout</a></li>
        </ul>
      </div>
    </nav>
  </div>
    <div class="sidenav">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    <div id="root"></div>
</body>
  <script src="bundle.js"></script>
</html>
